@use 'Pages/cart.scss';
@use 'Pages/Categories.scss';
@use 'Pages/index.scss';
@use 'Pages/Product.scss';
@use 'components/buttons';
@use 'components/JS-sonnection-detector';
@use 'components//loading-anim';
@use 'components/navbar';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DINNextLTArabic';
}

@font-face {
    font-family: 'DINNextLTArabic';
    src: url('../assets/fonts/DINNextLTArabic-Regular-2.woff2') format('woff2'),
         url('../assets/fonts/DINNextLTArabic-Regular-2.woff') format('woff'),
         url('../assets/fonts/DINNextLTArabic-Regular-2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}