/************************Hero section************************/
#hero{
    .carousel-container{
        .carousel-control-next-icon{
            background-image: url("../../Assets/images/Home/Arrow.png");
            width: 70px;
            height: 70px;
            margin-right: 215px;
        }
        .carousel-control-prev-icon{
            background-image: url("../../Assets/images/Home/Arrow\ \(1\).png");
            width: 70px;
            height: 70px;
            margin-left: 215px;
        }
        .carousel-control-next-icon, .carousel-control-prev-icon{
            opacity: 0.7;
            transition: 0.3 ease;
            &:hover{
                opacity: 1;
            }
        }
        .carousel-caption{
            height: fit-content;
            position: absolute;
            top: calc(50% - 112.5px);
            h5{
                font-size: 48px;
                font-weight: bolder;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                max-width: 885px;
                margin: auto;
                margin: 2rem auto;
            }
        }
        .carousel-indicators{
            button{
                background: transparent;
                border: 2px solid #EEEEEE;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                transition: 0.6s ease-in-out;
            }
            .active{
                background-color: #62D0B6;
                width: 37px;
                border-radius: 8px;
                border: none;
                margin: auto 0px;
            }
        }
    }
}

/************************Features section************************/
.features{
    margin: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    border: 1px solid #EEEEEE;
    .feature{
        position: relative;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        .feature-icon{
            width: 50px;
            margin-left: 1rem;
        }
        &::after{
            content: "";
            background-color: #EEEEEE;
            position: absolute;
            top: calc(50% - 40px);
            left: 0;
            width: 1px;
            height: 80px;
        }
        &:nth-child(3)::after{
            content: none;
        }
        p{
            font-size: 20px;
            font-weight: 400;
            margin-bottom: .5rem;
            &:nth-child(2){
                font-size: 16px;
                font-weight: 400;
            }
        }
        div{
            display: inline-block;
        }
    }
}
/************************banners section************************/
.bannerscontainer{
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 4rem;
    .banner{
        background-image: url("../../Assets/images/Home/Banner\ \(1\).png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 48%;
        height: 244px;
        display: inline-block;
        position: relative;
        margin: 1rem 0;
        box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease, transform 0.3s ease;
        min-width: 350px;
        &:hover{
            transform:  translateY(-5px);
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }
        .content{
            position: absolute;
            left: 2rem;
            top: 50%;
            translate: 0 -50%;
            p{
                font-size: 16px;
                font-weight: 400;
                color: #666666;
            }
            a{
                text-decoration: none;
                color: #333333;
                opacity: 0.7;
            }
            h1{
                font-size: 36px;
                font-weight: 500;
            }
        }
    }
}
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
/************************Hero section************************/
